html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}
* {
	margin: 0;
	padding: 0;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*                   menu style                    */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.menu {
    width: 100%;
    height: 60px;
    background: none;
    padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;
	z-index: 5;
	background: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.23);
	-moz-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.23);
	box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.23);
}
.menu > ul {
    list-style: none;
    width: 100%;
    height: 60px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
/*    background: red;*/
}
.menu > ul > .back {
	width: 90px;
	height: 50px;
	animation: animation1 120s ease-in-out;
	position: absolute;
	border-radius: 3.5px;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 10px;
	text-align: center;
	background: rgba(87, 190, 255, 0.7);
    -webkit-box-shadow: 0px 4px 17px -5px rgba(33,197,219,4);
    -moz-box-shadow: 0px 4px 17px -5px rgba(33,197,219,4);
    box-shadow: 0px 4px 17px -5px rgba(33, 197, 219, 0.4);
	opacity: 1;
	transition: .3s;
	display: block;
}
.menu > ul > .back > i {
	font-size: 1.8em;
	line-height: 50px;
	color: white;
	opacity: 1;
}
.menu > ul > .back:hover {
	opacity: .5;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*                  logo style                 */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.logo {
    width: 295px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
/*    background: greenyellow;*/
}
.logo:before {
    content: '';
    width: 100%;
    height: 8px;
    background: rgba(255, 255, 255, 0.72);
    position: absolute;
    left: 100%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    transition: 1s ease;
}
.logo:hover:before {
    left: -80%;
}
.logo:after {
    content: '';
    width: 0%;
    height: 100%;
    background: rgb(0, 152, 255);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: logo-animation 3s  ease-in-out both;
    -moz-animation: logo-animation 3s  ease-in-out both;
    animation: logo-animation 3s  ease-in-out both;
}
@keyframes logo-animation {
    0% {
        width: 2px;
        left: 5%;
        opacity: 1;
    }
    10% {
        width: 8px;
        left: 25%;
        opacity: .5;
    }
    25% {
        width: 0;
        left: 30%;
        opacity: 0;
    }
    35% {
        width: 100px;
        left: 20%;
        transform: translateX(-20%);
        opacity: 1;
    }
    80% {
        width: 400px;
        left: 150%;
        opacity: 1
    }
    100% {
        width: 0;
        left: 0;
        opacity: 0;
    }
}
-webkit-@keyframes logo-animation {
    0% {
        width: 2px;
        left: 5%;
        opacity: 1;
    }
    10% {
        width: 8px;
        left: 25%;
        opacity: .5;
    }
    25% {
        width: 0;
        left: 30%;
        opacity: 0;
    }
    35% {
        width: 100px;
        left: 20%;
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
        opacity: 1;
    }
    80% {
        width: 400px;
        left: 150%;
        opacity: 1
    }
    100% {
        width: 0;
        left: 0;
        opacity: 0;
    }
}
-moz-@keyframes logo-animation {
    0% {
        width: 2px;
        left: 5%;
        opacity: 1;
    }
    10% {
        width: 8px;
        left: 25%;
        opacity: .5;
    }
    25% {
        width: 0;
        left: 30%;
        opacity: 0;
    }
    35% {
        width: 100px;
        left: 20%;
        -moz-transform: translateX(-20%);
        transform: translateX(-20%);
        opacity: 1;
    }
    80% {
        width: 400px;
        left: 150%;
        opacity: 1
    }
    100% {
        width: 0;
        left: 0;
        opacity: 0;
    }
}
.peace {
    width: 150px;
    height: 60px;
    font-size: 2em;
    line-height: 60px;
/*    background: blue;*/
/*    text-align: center;*/
    font-family: 'Anton', sans-serif;
/*    font-weight: bold*/
    color: #3E3E3E;
}
.is {
    width: 4px;
    height: 60px;
    background: #04FF92;
    position: absolute;
    left: 30%;
    top: 50%;
    -webkit-transform: translate(-30%, -50%);
    -moz-transform: translate(-30%, -50%);
    transform: translate(-30%, -50%);
    -webkit-animation: animation-is .3s ease-in-out both;
    -moz-animation: animation-is .3s ease-in-out both;
    animation: animation-is .3s ease-in-out both;
}
@keyframes animation-is {
    0% {
        left: 28%;
        opacity: 0;
    }
    100% {
        left: 30%;
        opacity: 1;
    }
}
-webkit-@keyframes animation-is {
    0% {
        left: 28%;
        opacity: 0;
    }
    100% {
        left: 30%;
        opacity: 1;
    }
}
-moz-@keyframes animation-is {
    0% {
        left: 28%;
        opacity: 0;
    }
    100% {
        left: 30%;
        opacity: 1;
    }
}
.is-s {
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 32%;
    -webkit-transform: translate(-32%, -50%);
    -moz-transform: translate(-32%, -50%);
    transform: translate(-32%, -50%);
/*    font-family: 'Anton', sans-serif;*/
    color: #04FF92;
    line-height: 39px;
    -webkit-animation: animation-is-s 1s ease-in-out both;
    -moz-animation: animation-is-s 1s ease-in-out both;
    animation: animation-is-s 1s ease-in-out both;
}
@keyframes animation-is-s {
    0% {
        left: 28%;
        opacity: 0;
    }
    50% {
/*        left: 30%;*/
/*        opacity: .5;*/
    }
    100% {
        left: 32%;
        opacity: 1;
    }
}
-webkit-@keyframes animation-is-s {
    0% {
        left: 28%;
        opacity: 0;
    }
    50% {
/*        left: 30%;*/
/*        opacity: .5;*/
    }
    100% {
        left: 32%;
        opacity: 1;
    }
}
-moz-@keyframes animation-is-s {
    0% {
        left: 28%;
        opacity: 0;
    }
    50% {
/*        left: 30%;*/
/*        opacity: .5;*/
    }
    100% {
        left: 32%;
        opacity: 1;
    }
}
.dream {
    width: 185px;
    height: 60px;
/*    background: yellow;*/
    position: absolute;
    right: 0;
    top: 0;
    line-height: 60px;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-animation: animation-dream 1s ease-in-out both .8s;
    -moz-animation: animation-dream 1s ease-in-out both .8s;
    animation: animation-dream 1s ease-in-out both .8s;
    color: #959595;
}
@keyframes animation-dream {
    0% {
        opacity: 0;
        left: 20%;
        z-index: -1;
    }
    100% {
        opacity: 1;
        left: 40%;
    }
}
-webkit-@keyframes animation-dream {
    0% {
        opacity: 0;
        left: 20%;
        z-index: -1;
    }
    100% {
        opacity: 1;
        left: 40%;
    }
}
-moz-@keyframes animation-dream {
    0% {
        opacity: 0;
        left: 20%;
        z-index: -1;
    }
    100% {
        opacity: 1;
        left: 40%;
    }
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.jumbutron {
    width: 100%;
    height: 100vh;
/*
    background: url('../image/bg.jpg');
    background-position: center;
    background-size: cover;
*/
    position: relative;
	background: red;
	animation: jumbutronbackground 120s ease-in-out;
}
@keyframes jumbutronbackground {
	0% {
		background: rgba(87, 190, 255, 0.8);
	}
	5% {
		background: rgba(0, 255, 206, 0.8);
	}
	10% {
		background: rgba(0, 255, 118, 0.8);
	}
	15% {
		background: rgba(69, 255, 0, 0.8);
	}
	35% {
		background: rgba(235, 255, 0, 0.8);
	}
	55% {
		background: rgba(255, 108, 0, 0.8);
	}
	80% {
		background: rgba(255, 0, 0, 0.8);
	}
}
}
.jumbutron:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(159, 159, 159, 0.12);
    position: absolute;
}
/*
.jumbutron:after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
}
.jumbutron > .icons {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 60px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.29);
}
.jumbutron > .icons > li {
    width: 50px;
    height: 50px;
    background: red;
    float: left;
}
*/
.jumbutron > .jumbutron_title {
    color: white;
    text-align: center;
    position: absolute;
    font-family: 'Anton', sans-serif;
    font-size: 4em;
/*    background: red;*/
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}
.container {
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}
.container > .word_box {
    width: 270px;
    height: 310px;
    background: rgba(0, 153, 255, 0.84);
    position: relative;
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
    margin: 20px auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 153, 255, 0.4);
    -moz-box-shadow: 0 3px 8px rgba(0, 153, 255, 0.4);
    box-shadow: 0 3px 8px rgba(0, 153, 255, 0.4);
    overflow: hidden;
    -webkit-transition: 3s ease;
    -moz-transition: 3s ease;
    transition: .5s ease;
}
.container > .word_box:hover {
    background:rgba(0, 255, 167, 0.78);
    -webkit-box-shadow: 0 3px 8px rgba(0, 255, 167, 0.4);
    -moz-box-shadow: 0 3px 8px rgba(0, 255, 167, 0.4);
    box-shadow: 0 3px 8px rgba(0, 255, 167, 0.4);
}
/*	Active */
.container > .word_box:active {
    background:rgba(0, 255, 167, 0.78);
    -webkit-box-shadow: 0 3px 8px rgba(0, 255, 167, 0.4);
    -moz-box-shadow: 0 3px 8px rgba(0, 255, 167, 0.4);
    box-shadow: 0 3px 8px rgba(0, 255, 167, 0.4);
}
.container > .word_box > .flag {
    width: 58px;
    height: 58px;
    background: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 6.7%;
    -webkit-transform: translate(-50%, -6.5%);
    -moz-transform: translate(-50%, -6.5%);
    transform: translate(-50%, -6.5%);
}
.container > .word_box > .de_flag,
.container > .word_box > .en_flag {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
/*    border: 4px solid white;*/
/*    background: white;*/
    position: absolute;
    left: 50%;
    top: 8%;
    -webkit-transform: translate(-50%, -8%);
    -moz-transform: translate(-50%, -8%);
    transform: translate(-50%, -8%);
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
}
.container > .word_box > .en_flag {
/*    opacity: 0;*/
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
    left: -150%;
}
.container > .word_box:hover .de_flag {
    left: 150%;
}
.container > .word_box:hover .en_flag {
    opacity: 1;
    left: 50%;
}
/*	Active */
.container > .word_box:active .de_flag {
    left: 150%;
}
.container > .word_box:active .en_flag {
    opacity: 1;
    left: 50%;
}
.container > .word_box > .de_language,
.container > .word_box > .en_language {
    width: 95%;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
/*    background: red;*/
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}
.container > .word_box:hover .de_language {
    left: 150%
}
.container > .word_box > .en_language {
    left: -150%;
}
.container > .word_box:hover .en_language {
    left: 50%;
}
/*	Active */
.container > .word_box:active .de_language {
    left: 150%
}
.container > .word_box:active .en_language {
    left: 50%;
}
.container > .word_box > .larg {
    font-size: 1.4em;
}
.container > .word_box > .larg-a {
    font-size: 1.8em;
}
.container > .word_box > .larg-b {
    font-size: 2em;
}
.container > .word_box > .larg-c {
    font-size: 2.5em;
}
.container > .adjectives {
    background: #ff2f2f;
    -webkit-box-shadow: 0 3px 8px rgba(255, 47, 47, 0.4);
    -moz-box-shadow: 0 3px 8px rgba(255, 47, 47, 0.4);
    box-shadow: 0 3px 8px rgba(255, 47, 47, 0.4);
}
.container > .verbs {
    background: #00ff4e;
    -webkit-box-shadow: 0 3px 8px rgba(0, 255, 78, 0.4);
    -moz-box-shadow: 0 3px 8px rgba(0, 255, 78, 0.4);
    box-shadow: 0 3px 8px rgba(0, 255, 78, 0.4);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-==--=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-==--=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-==--=-=-=-=- */
/*            break style text */
.container > .break_text_a {
    width: 100%;
    height: 100vh;
    background: url('../image/break_text_background_a.png');
    background-size: left;
    position: relative;
    -webkit-transition: 5s ease;
    -moz-transition: 5s ease;
    transition: 5s ease;
}
.container > .break_text_a > .break_text_a_text {
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container > .break_text_a:hover {
    background-position: right
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.route_provider {
    width: 100%;
    height: 180px;
    background: #f5f5f5;
    position: relative;
}
.route_provider > .next,
.route_provider > .back {
    width: 180px;
    height: 50px;
    border: 2px solid deepskyblue;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    display: block;
    line-height: 50px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    transition: .3s ease;
    text-decoration: none;
    color: black;
}
.route_provider > .next { right: 2%;}
.route_provider > .back { left: 2%;}
.route_provider > .next:before,
.route_provider > .back:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 206, 255, 0.68);
    left: 0;
    top: -100%;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    z-index: -1
}
.route_provider > .next:hover,
.route_provider > .back:hover{
    color: white;
}
.route_provider > .next:hover:before,
.route_provider > .back:hover:before {
    top: 0%;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*                    re sise style */
@media only screen and (max-width: 500px) {
    .container > .break_text_a > .break_text_a_text {
        font-size: 3em
    }
}
@media only screen and (max-width: 300px) {
    .container > .break_text_a > .break_text_a_text {
        font-size: 2.5em
    }
}






.containers {
/*  position: relative;*/
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 15%;
  height: 20%;
/*  background: #333;*/
	top: 94%;
	left: 50%;
	transform: translate(-50%, -94%);
/*	background: red;*/
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
/*	display: block;*/
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	opacity: .25;
	animation: pulse 2s linear alternate infinite;
	text-align: center;
/*	background: red;*/
	width: 100%;
	height: 100%;
	line-height: 270px;
/*	position: absolute;*/
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
.pagination {
	width: 100%;
	height: 150px;
	position: relative;
}
.next,
.pre {
	width: 90px;
	height: 50px;
	background: red;
/*	right: 5%;*/
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-animation: jumbutronbackground 120s ease-in-out;
	-moz-animation: jumbutronbackground 120s ease-in-out;
	animation: jumbutronbackground 120s ease-in-out;
	background: rgba(87, 190, 255, 0.7);
	text-align: center;
	font-family: fantasy;
	line-height: 50px;
	color: white;
	opacity: 1;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	display: block;
	text-decoration: none;
}
.next { right: 5%;}
.pre { left: 5%;}
.next:hover,.pre:hover {
	opacity: .4;
}