html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}
.jumbutron {
    width: 100%;
    height: 100vh;
    background: url('../image/bg_jumbotron.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.jumbutron:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.12);
    position: absolute;
}
.jumbutron > .do_what_they_say_you_cannot {
    color: white;
    text-align: center;
    position: absolute;
    font-family: 'Anton', sans-serif;
    font-size: 4em;
/*    background: red;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container > .word_box {
    width: 270px;
    height: 310px;
    background: rgba(0, 153, 255, 0.84);
    position: relative;
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 153, 255, 0.4);
    overflow: hidden;
    -webkit-transition: 3s ease;
    -moz-transition: 3s ease;
    transition: .5s ease;
}
.container > .word_box:hover {
    background:rgba(0, 255, 167, 0.78);
    box-shadow: 0 3px 8px rgba(0, 255, 167, 0.4);
}
.container > .word_box > .flag {
    width: 58px;
    height: 58px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 6.7%;
    transform: translate(-50%, -6.5%);
}
.container > .word_box > .de_flag,
.container > .word_box > .en_flag {
    width: 50px;
    height: 50px;
    border-radius: 50%;
/*    border: 4px solid white;*/
/*    background: white;*/
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -8%);
    transition: .7s ease-in-out;
}
.container > .word_box > .en_flag {
/*    opacity: 0;*/
    transition: .7s ease-in-out;
    left: -150%;
}
.container > .word_box:hover .de_flag {
    left: 150%;
}
.container > .word_box:hover .en_flag {
    opacity: 1;
    left: 50%;
}
.container > .word_box > .de_language,
.container > .word_box > .en_language {
    width: 95%;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
/*    background: red;*/
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: .5s ease;
}
.container > .word_box:hover .de_language {
    left: 150%
}
.container > .word_box > .en_language {
    left: -150%;
}
.container > .word_box:hover .en_language {
    left: 50%;
}
.container > .word_box > .larg {
    font-size: 1.4em;
}
.container > .word_box > .larg-a {
    font-size: 1.8em;
}
.container > .word_box > .larg-b {
    font-size: 2em;
}
.container > .word_box > .larg-c {
    font-size: 2.5em;
}
.container > .adjectives {
    background: #ff2f2f;
    box-shadow: 0 3px 8px rgba(255, 47, 47, 0.4);
}
.container > .verbs {
    background: #00ff4e;
    box-shadow: 0 3px 8px rgba(0, 255, 78, 0.4);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-==--=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-==--=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-==--=-=-=-=- */
/*            break style text */
.container > .break_text_a {
    width: 100%;
    height: 100vh;
    background: url('../image/break_text_background_a.png');
    background-size: left;
    position: relative;
    transition: 5s
}
.container > .break_text_a > .break_text_a_text {
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container > .break_text_a:hover {
    background-position: right
}