html, body {
    margin: 0%;
    padding: 0%;
}
* {
    margin: 0%;
    padding: 0%;
}
.jumbotron {
    height: 100vh;
    background-image: url('image/jumbotron_bg.jpg');
    background-size: cover;
}
.gmd_cover {
    width: 362px;
    height: 110px;
    background-color: #435667;
    position: absolute;
    top: 98%;
    right: 13px;
    transform: translateY(-98%);
    border-radius: 8px;
    box-shadow: 0px 3px 40px -10px #000000;
    overflow: hidden
}
.gmd_cover > .logo_text {
    height: 45px;
    font-family: 'Archivo Narrow', sans-serif;
    color: white;
    text-align: center;
    line-height: 140px;
    font-size: 20px;
    text-shadow: 0px 3px 6px rgba(23, 47, 69, 0.58);
    transition: line-height .2s;
}
.gmd_cover > .logo_text > span {
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    font-size: 90px;
    text-shadow: 0px 0px 0 #172f45, -2px 3px 0 rgba(10, 14, 39, 0.27);
    transition: text-shadow .3s ease-in-out;
    transition-delay: .1s;
    display: ;
}
.gmd_cover:hover .logo_text {
      line-height: 90px;
      font-size: 14px;
}
.gmd_cover:hover .logo_text > span {
      text-shadow: -4px 3px 0 #172f45, -14px 7px 0 #0a0e27;
      font-size: 60px;
}
.gmd_cover > .logo_text > span:nth-child(1) {
    color: #34A853;
}
.gmd_cover > .logo_text > span:nth-child(2) {
    color: #FBBC05;
}
.gmd_cover > .logo_text > span:nth-child(3) {
    color: #EA4335;
}
.gmd_cover > .gmd_link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #FBBC05;
    font-family: 'Archivo Narrow', sans-serif;
    position: absolute;
    top: 68%;
    font-size: 22px;
    margin-left: 25px;
/*			display: none;*/
    opacity: 0;
}
.gmd_cover:hover .gmd_link {
    animation: animation .3s ease-in-out both;
}
@keyframes animation {
    0% {
        display: none;
        opacity: 0;
        margin-left: 18px;
    }
    100% {
        display: block;
        opacity: 1;
        margin-left: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .gmd_cover {
        left: 50%;
        transform: translateX(-50%) translateY(-98%);
    }
}
@media only screen and (max-width: 450px) {
    .gmd_cover .logo_text {
          line-height: 90px;
          font-size: 14px;
    }
    .gmd_cover .logo_text > span {
          text-shadow: -4px 3px 0 #172f45, -14px 7px 0 #0a0e27;
          /* font-size: 60px; */
    }
}
@media only screen and (max-width: 380px) {
    .gmd_cover {
        width: 95%;
    }
    .gmd_cover > .logo_text {
        font-size: 15px;
    }
    .gmd_cover > .logo_text > span {
        font-size: 60px;
    }
}