html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}
.jumbutron {
    width: 100%;
    height: 100vh;
    background: url('../image/bg_jumbotron.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.jumbutron:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(159, 159, 159, 0.12);
    position: absolute;
}
/*
.jumbutron:after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
}
.jumbutron > .icons {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 60px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.29);
}
.jumbutron > .icons > li {
    width: 50px;
    height: 50px;
    background: red;
    float: left;
}
*/
.jumbutron > .do_what_they_say_you_cannot {
    color: white;
    text-align: center;
    position: absolute;
    font-family: 'Anton', sans-serif;
    font-size: 4em;
/*    background: red;*/
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}
.container {
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}
.container > .word_box {
    width: 270px;
    height: 310px;
    background: rgba(0, 153, 255, 0.84);
    position: relative;
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
    margin: 20px auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 153, 255, 0.4);
    -moz-box-shadow: 0 3px 8px rgba(0, 153, 255, 0.4);
    box-shadow: 0 3px 8px rgba(0, 153, 255, 0.4);
    overflow: hidden;
    -webkit-transition: 3s ease;
    -moz-transition: 3s ease;
    transition: .5s ease;
}
.container > .word_box:hover {
    background:rgba(0, 255, 167, 0.78);
    -webkit-box-shadow: 0 3px 8px rgba(0, 255, 167, 0.4);
    -moz-box-shadow: 0 3px 8px rgba(0, 255, 167, 0.4);
    box-shadow: 0 3px 8px rgba(0, 255, 167, 0.4);
}
.container > .word_box > .flag {
    width: 58px;
    height: 58px;
    background: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 6.7%;
    -webkit-transform: translate(-50%, -6.5%);
    -moz-transform: translate(-50%, -6.5%);
    transform: translate(-50%, -6.5%);
}
.container > .word_box > .de_flag,
.container > .word_box > .en_flag {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
/*    border: 4px solid white;*/
/*    background: white;*/
    position: absolute;
    left: 50%;
    top: 8%;
    -webkit-transform: translate(-50%, -8%);
    -moz-transform: translate(-50%, -8%);
    transform: translate(-50%, -8%);
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
}
.container > .word_box > .en_flag {
/*    opacity: 0;*/
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
    left: -150%;
}
.container > .word_box:hover .de_flag {
    left: 150%;
}
.container > .word_box:hover .en_flag {
    opacity: 1;
    left: 50%;
}
.container > .word_box > .de_language,
.container > .word_box > .en_language {
    width: 95%;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
/*    background: red;*/
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}
.container > .word_box:hover .de_language {
    left: 150%
}
.container > .word_box > .en_language {
    left: -150%;
}
.container > .word_box:hover .en_language {
    left: 50%;
}
.container > .word_box > .larg {
    font-size: 1.4em;
}
.container > .word_box > .larg-a {
    font-size: 1.8em;
}
.container > .word_box > .larg-b {
    font-size: 2em;
}
.container > .word_box > .larg-c {
    font-size: 2.5em;
}
.container > .adjectives {
    background: #ff2f2f;
    -webkit-box-shadow: 0 3px 8px rgba(255, 47, 47, 0.4);
    -moz-box-shadow: 0 3px 8px rgba(255, 47, 47, 0.4);
    box-shadow: 0 3px 8px rgba(255, 47, 47, 0.4);
}
.container > .verbs {
    background: #00ff4e;
    -webkit-box-shadow: 0 3px 8px rgba(0, 255, 78, 0.4);
    -moz-box-shadow: 0 3px 8px rgba(0, 255, 78, 0.4);
    box-shadow: 0 3px 8px rgba(0, 255, 78, 0.4);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-==--=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-==--=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-==--=-=-=-=- */
/*            break style text */
.container > .break_text_a {
    width: 100%;
    height: 100vh;
    background: url('../image/break_text_background_a.png');
    background-size: left;
    position: relative;
    -webkit-transition: 5s ease;
    -moz-transition: 5s ease;
    transition: 5s ease;
}
.container > .break_text_a > .break_text_a_text {
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container > .break_text_a:hover {
    background-position: right
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.route_provider {
    width: 100%;
    height: 180px;
    background: #f5f5f5;
    position: relative;
}
.route_provider > .next,
.route_provider > .back {
    width: 180px;
    height: 50px;
    border: 2px solid deepskyblue;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    display: block;
    line-height: 50px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    transition: .3s ease;
    text-decoration: none;
    color: black;
}
.route_provider > .next { right: 2%;}
.route_provider > .back { left: 2%;}
.route_provider > .next:before,
.route_provider > .back:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 206, 255, 0.68);
    left: 0;
    top: -100%;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    z-index: -1
}
.route_provider > .next:hover,
.route_provider > .back:hover{
    color: white;
}
.route_provider > .next:hover:before,
.route_provider > .back:hover:before {
    top: 0%;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/*                    re sise style */
@media only screen and (max-width: 500px) {
    .container > .break_text_a > .break_text_a_text {
        font-size: 3em
    }
}
@media only screen and (max-width: 300px) {
    .container > .break_text_a > .break_text_a_text {
        font-size: 2.5em
    }
}