html, body {
    margin: 0;
    padding: 0;
    background: #fff;
}
.jumbutron {
    width: 100%;
    height: 100vh;
    background: url('../image/bg_jumbotron.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.jumbutron:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.12);
    position: absolute;
}
.jumbutron > .do_what_they_say_you_cannot {
    color: white;
    text-align: center;
    position: absolute;
    font-family: 'Anton', sans-serif;
    font-size: 4em;
/*    background: red;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container > .word_box {
    width: 270px;
    height: 290px;
    background: linear-gradient(to bottom right, #0099ff 0%, rgba(0, 68, 255, 0.78) 100%);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 68, 255, 0.6);
    overflow: hidden;
}
.container > .word_box > .flag {
    width: 58px;
    height: 58px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 6.5%;
    transform: translate(-50%, -6.5%);
    
}
.container > .word_box > .de_flag,
.container > .word_box > .en_flag {
    width: 50px;
    height: 50px;
    border-radius: 50%;
/*    border: 4px solid white;*/
/*    background: white;*/
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -8%);
    transition: .7s ease-in-out;
}
.container > .word_box > .en_flag {
/*    opacity: 0;*/
    transition: .7s ease-in-out;
    left: -150%;
}
.container > .word_box:hover .de_flag {
    left: 150%;
}
.container > .word_box:hover .en_flag {
    opacity: 1;
    left: 50%;
}
.container > .word_box > .de_language,
.container > .word_box > .en_language {
    width: 95%;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
/*    background: red;*/
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: .5s ease;
}
.container > .word_box:hover .de_language {
    left: 150%
}
.container > .word_box > .en_language {
    left: -150%;
}
.container > .word_box:hover .en_language {
    left: 50%;
}